<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="assets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <title>Web Development Guide</title>
</head>

<body>


    <h1 class="title">
        Only Website You Need to Learn Web Development!
    </h1>

    <form>
        <br>
        <div class="description">
            <h3>Other than Stack Overflow of Course!</h3>
            <h2>This is a great start for your web development learning at <a
                    href="https://www.w3schools.com">w3Schools<a> site</h3>
        </div>
        <br>
        <br>

        <a href="https://www.w3schools.com"><img src="assets/site_homepage.png" alt="https://www.w3schools.com"></a>
        <br>
        <br>
        <br>
        <div class="q1">
            <h2>Personal Information</h2>
            <label>First name:</label>
            <input type="text" name="first_name" />
            <br>
            <br>
            <label>Last name:</label>
            <input type="text" name="last_name" />
        </div>
        <br>
        <br>
        <div class="q2">
            <h2>How would you rate this website out of 10?</h2>
            <input type="radio" name="Rating" value="1-4">1-4<br>
            <input type="radio" name="Rating" value="5">5<br>
            <input type="radio" name="Rating" value="6-10">6-10<br>
        </div>
        <br>
        <br>
        <div class="q3">
            <h2>Select the colours that you see on this website?</h2>
            <input type="checkbox" name="Colour" value="Red">Red<br>
            <input type="checkbox" name="Colour" value="Blue">Blue<br>
            <input type="checkbox" name="Colour" value="Black">Black<br>
        </div>
        <br>
        <br>
        <div class="q4">
            <h2>Is the website displaying properly?</h2>
            <select name="favorite" id="favorite">
                <option value="yes" selected="selected">Yes</option>
                <option value="no">No</option>
                <option value="not-sure">I'm not sure</option>
            </select>
            <h2>Are you married?</h2>
            <select name="married">
                <option value="yes" selected="selected">Yes</option>
                <option value="no">No</option>
            </select>
            <h2>Are you graduated?</h2>
            <select name="graduated">
                <option value="yes" selected="selected">Yes</option>
                <option value="no">No</option>
            </select>
            <h2>How old are you?</h2>
            <input name="age" type="number"></input>
        </div>
        <br>
        <br>
        <div class="comment">
            Comment:
            <br>
            <textarea name="comment"></textarea>
        </div>
        <br>
        <button id="bb">
            SUBMIT your questionnaire
        </button>


        <footer>
            <div class="footer">
                <a>Website Designed by Adrian Iannantuono and Chunhui Ma</a>
            </div>
        </footer>
    </form>

    <script src="/assets/action.js"></script>

</body>

</html>